* {
    border: 0;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header {
    /*outline: 2px yellow solid;*/
    /*width: 100%;*/
    width: 78%;
    margin: 0 auto;
    border-bottom: 1px solid rgb(190, 208, 1);
}

#nav, #logo {
    display: inline-block;
    vertical-align: top;
}

#nav {
    /*outline: 2px green solid;*/
}

#logo {
    /*outline: 2px red solid;*/
    width: 18%;
    margin-left: 12%;
    /*height: 5px;*/
}

.athlon {
    /*outline: 2px black solid;*/
    width: 100%;
    height: 120px;
}


/*-----------------menu------------------*/

#nav {
    /*outline: 2px red solid;*/
    margin-top: 3%;
    margin-left: 2%;
}

#nav > ul > li {
    float: left;
    list-style: none;
}

#nav > ul > li:last-child {
    padding-right: 0;
    /*list-style: none;*/
}

#nav > ul > li > a, #nav > ul > li > span {
    display: block;
    margin-left: 0.7em;
    padding: 0.80em 1.2em;
    letter-spacing: 0.06em;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1em;
    outline: 0;
    color: #333;
    /*background: red;*/
}

#nav li.active a {
    /*background: #e95d3c;*/
    background-color: rgb(190, 208, 1);
    border-radius: 5px;
    color: #FFF;
}

#nav li:hover a {
    background: rgb(190, 208, 1);
    border-radius: 5px;
    color: #FFF;
}

#nav > ul > li > ul {
    display: none;
}


/*-------------------Banner------------*/

#banner {
    position: relative;
    height: 380px;
    background: url(../img/tres.jpg) no-repeat center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*color: #fff;*/
    overflow: hidden;
}

.containeruno {
    /*outline: 2px red solid;*/
    margin-top: 9%;
}

.ee {
    background: rgba(255, 255, 255, .8);
    /*color: #000;*/
    color: rgb(190, 208, 1);
    font-size: 90px;
    text-align: center;
    margin-top: 0;
    float: right;
    width: 35%;
}


/*----------------seccionindex------------*/

.introserindex {
    /*outline: 2px red solid;*/
    font-size: 40px;
    text-align: center;
    width: 100%;
    padding: 2% 0% 2% 0%;
    font-family: 'Oswald', sans-serif;
}

.seccionindexuno {
    /*outline: 2px red solid;*/
    width: 78%;
    margin: 0 auto;
}

.imgindex1 {
    /*position: relative;*/
    /*width: 100%;*/
    height: 180px;
    background: url(../img/cons.jpg) no-repeat center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*color: #fff;*/
    overflow: hidden;
}

.imgindex2 {
    /*position: relative;*/
    /*width: 100%;*/
    height: 180px;
    background: url(../img/comprar.jpg) no-repeat center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*color: #fff;*/
    overflow: hidden;
}

.imgindex3 {
    /*position: relative;*/
    /*width: 100%;*/
    height: 180px;
    background: url(../img/audio.jpeg) no-repeat center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*color: #fff;*/
    overflow: hidden;
}

.indexser {
    width: 28%;
    display: inline-block;
    vertical-align: top;
    margin-left: 3%;
    height: auto;
}

.conttextoencabezadoindex-y-textoindex {
    width: 100%;
    padding: 5% 5% 0% 5%;
    background-color: rgb(190, 208, 1);
}

.textoencabezadoindex {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    text-align: center;
}

.textoindex {
    text-align: justify;
    margin-top: 5%;
    /*padding-top: 5%;*/
    font-size: 16px;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.icono1 {
    /*outline: 2px red solid;*/
    color: white;
    font-size: 30px;
    /*margin-bottom: 5%;*/
}

.conicono {
    transition: 2.5s ease;
    -moz-transition: 2.5s ease;
    /* Firefox */
    -webkit-transition: 2.5s ease;
    /* Chrome - Safari */
    -o-transition: 2.5s ease;
    /* Opera */
}

.conicono:hover {
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    /* Firefox */
    -webkit-transform: rotate(360deg);
    /* Chrome - Safari */
    -o-transform: rotate(360deg);
    /* Opera */
}

.conicono {
    margin-top: 3%;
    /*margin-bottom: 5%;*/
}

.enlaceicono {
    /*outline: 2px black solid;*/
    text-align: center;
    text-decoration: none;
}


/*-------------boton servicios----------*/

.button {
    display: inline-block;
    border-radius: 4px;
    /*background-color: #f4511e;*/
    background-color: rgb(190, 208, 1);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 15px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    /*margin: 0 auto;*/
    margin-top: 2%;
    margin-left: 42%;
    margin-bottom: 2%;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover {
    background-color: black;
    color: white;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}


/*---------seccion dos-----------*/

.seccionindexdos {
    /*border: 2px red solid;*/
    width: 100%;
    height: 750px;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    background-image: url(../img/contenedortres.jpg);
    overflow: hidden;
}

.introproindexseccdos {
    font-size: 40px;
    text-align: center;
    width: 100%;
    padding: 2% 0% 2% 0%;
    font-family: 'Oswald', sans-serif;
    background: rgba(0, 0, 0, .4);
    /*color: #000;*/
    color: rgb(190, 208, 1);
}

.marcas {
    background: rgba(0, 0, 0, .4);
    /*color: #000;*/
    color: rgb(190, 208, 1);
    width: 78%;
    margin: 0 auto;
    text-align: center;
    /*border: 2px red solid;*/
}

.marcasdos {
    text-align: center;
    background: rgba(0, 0, 0, .4);
    /*color: #000;*/
    color: rgb(190, 208, 1);
    width: 78%;
    margin: 0 auto;
    margin-top: 1%;
    /*border: 2px red solid;*/
}


/*imagen*/

.container {
    position: relative;
    /*outline: 2px red solid;*/
    margin-top: 0px;
    width: 200px;
    height: 150px;
    display: inline-block;
    margin-left: 2.5%;
}

.textbox:hover {
    opacity: 1;
}

.text {
    padding-top: 50px;
    color: white;
    text-align: center;
    font-size: 30px;
}

.textbox {
    width: 200px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 15px 2px rgba(255, 255, 255, .75);
    box-shadow: 0px 0px 15px 2px rgba(255, 255, 255, .75);
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}


/*----------------foooter--------------*/

footer {
    height: 50px;
    overflow: hidden;
    width: 100%;
    /*background-color: #b40022;*/
    background-color: rgb(190, 208, 1);
}

.piecondos {
    /*border: 2px red solid;*/
    width: 100%;
    /*margin-left: 17%;*/
    text-align: center;
    margin-top: 1%;
}

.dtcdos {
    /*font-weight: bold;*/
    /*border: 2px red solid;*/
    text-align: center;
    font-size: 18px;
    /*font-family: 'Roboto Condensed', sans-serif;*/
    font-family: helvetica;
    color: white;
}

.petruspie {
    font-weight: bold;
    font-size: 18px;
    /*font-family: 'Roboto Condensed', sans-serif;*/
    font-family: 'Playfair Display', serif;
    color: black;
}


/*-------------------quienes somos-----------------------------*/

.conq {
    /*border: 2px red solid;*/
    width: 78%;
    margin: 0 auto;
    height: 400px;
}

.conocenos {
    /*border: 2px red solid;*/
    width: 40%;
    font-size: 55px;
    color: rgb(190, 208, 1);
    font-family: 'Oswald', sans-serif;
}

.informacioon, .informaciondos {
    /*border: 2px red solid;*/
    /*display: inline-block;*/
    vertical-align: top;
}

.textoinformativo {
    /*outline: 2px red solid;*/
    width: 40%;
    text-align: justify;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin-top: 3%;
    float: left;
}

.informaciondos {
    width: 35%;
    float: right;
    margin-right: 12%;
    /*margin-top: 3%;*/
    height: 250px;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-size: cover;
    /*background-color: #464646;*/
    background-image: url(../Img/ATHLON.png);
    overflow: hidden;
}

.secciondosq {
    /*border: 2px red solid;*/
    width: 100%;
    height: 400px;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    background-image: url(../img/dos.jpg);
    overflow: hidden;
}


/*------------------mision vision objetivo---------*/

.main {
    /*outline: 2px red solid;*/
    /*text-align: center;*/
    width: 78%;
    margin: 0 auto;
    margin-top: 5%;
    overflow: hidden;
}

.view {
    width: 300px;
    height: 200px;
    margin: 10px;
    float: left;
    border: 5px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: pointer;
    margin-left: 5%;
}

.view .mask, .view .content {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.view .mask {
    background-color: rgba(0, 0, 0, 0.7);
}

.view img {
    display: block;
    position: relative;
    width: 300px;
}

.view h2 {
    text-transform: uppercase;
    color: #000;
    text-align: center;
    position: relative;
    font-size: 20px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    margin: 20px 0 0 0;
}

.view p {
    font-family: Georgia, serif;
    font-style: italic;
    /*font-size: 12px;*/
    position: relative;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 17px;
}

.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
}

.view a.info: hover {
    box-shadow: 0 0 5px #000;
}

.nuestrosv {
    /*border: 2px red solid;*/
    margin-top: 2%;
    width: 40%;
    font-size: 40px;
    color: rgb(190, 208, 1);
    font-family: 'Oswald', sans-serif;
    overflow: hidden;
}

.valoresq {
    /*outline: 2px red solid;*/
    /*text-align: center;*/
    width: 78%;
    margin: 0 auto;
    /*margin-top: 5%;*/
    overflow: hidden;
}

.convalores {
    width: 100%;
    margin-top: 2%;
}

.valorestex {
    /*border: 2px red solid;*/
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-left: 2%;
}

.valorestex p {
    font-size: 28px;
    font-family: 'Oswald', sans-serif;
    /*background-color: red;*/
}

.iconov {
    font-size: 35px;
    color: rgb(190, 208, 1);
}


/*****************Diseño de Servicio**************/

.servicios {
    /*border: 2px red solid;*/
    margin-left: 11%;
    margin-bottom: 2%;
    width: 40%;
    font-size: 55px;
    color: rgb(190, 208, 1);
    font-family: 'Oswald', sans-serif;
}

.content-sup, .content-inf {
    /*border: 2px solid rgb(23, 76, 125);*/
    text-align: center;
    margin-top: 5px;
    /*border: 2px black solid;*/
}

.fondo-img {
    /*outline: 2px red solid;*/
    width: 100%;
    height: 500px;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /*background-color: #464646;
    background-image: url(../img/img-fondo-servicio-part1.jpg);*/
    overflow: hidden;
}

div.contenedor {
    vertical-align: top;
    width: 20%;
    height: 430px;
    display: inline-block;
    transition: height .4s;
    -webkit-transition: height .4s;
    -moz-transition: height .4s;
    -o-transition: height .4s;
    /*border: 2px solid red;*/
}


/**************Colores de cada contenedor****************************/

div#uno {
    background-color: rgb(208, 101, 3);
}

div#dos {
    background-color: rgb(233, 147, 26);
}

div#tres {
    background-color: rgb(22, 145, 190);
}

div#cuatro {
    background-color: rgb(22, 107, 162);
}

div#cinco {
    background-color: rgb(27, 54, 71);
}

div#seis {
    background-color: rgb(21, 40, 54);
}


/************************************************************************/

img {
    /*border: 2px solid green;*/
}

img.icon {
    /*display: block;*/
    margin: 30px auto;
    background-color: rgba(255, 255, 255, .15);
    width: 200px;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 30px rgba(255, 255, 255, 0);
    -webkit-transition: box-shadow .4s;
    /*border: 2px solid yellow;*/
}

p {
    /*border: 2px solid orange;*/
}

p.texto {
    font-size: 16px;
    color: white;
    text-align: center;
    padding-top: 10px;
    opacity: .6;
    -webkit-transition: padding-top .4s;
}


/*div.contenedor:hover{
	height:300px;
}*/

div.contenedor:hover p.texto {
    /*padding-top: 30px;*/
    opacity: 1;
}

div.contenedor:hover img.icon {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, .6);
}

.informacion {
    /*outline: 2px red solid;*/
    margin-top: 2%;
    font-size: 16px;
    color: white;
    text-align: center;
    /*padding-top: 10px;*/
    padding: 10px 10px 0px 10px;
    opacity: .6;
    -webkit-transition: padding-top .4s;
}

div.contenedor:hover div.informacion {
    /*padding-top: 30px;*/
    opacity: 1;
}

.servvalo {
    /*border: 2px red solid;*/
    background-color: rgb(190, 208, 1);
    overflow: hidden;
    height: 480px;
}

.servvalo p {
    /*background-color: rgb(255, 255, 255, .9);*/
    /*border: 2px green solid;*/
    /*margin-left: 11%;*/
    margin-top: 2%;
    overflow: hidden;
    text-align: center;
    color: white;
    /*margin-bottom: 2%;*/
    width: 100%;
    font-size: 40px;
    /*color: rgb(190, 208, 1);*/
    font-family: 'Oswald', sans-serif;
}

.convaloranadidos {
    /*outline: 2px red solid;*/
    width: 80%;
    margin: 0 auto;
    margin-top: 2%;
    overflow: hidden;
}

.convaloranadidoss {
    /*outline: 2px red solid;*/
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
    overflow: hidden;
}

.anadidos {
    border: 1px white solid;
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-left: 2.5%;
    text-align: center;
}

.ico {
    /*outline: 2px yellow solid;*/
    font-size: 40px;
    color: black;
    background-color: white;
}

.textoser {
    margin-top: 2%;
    overflow: hidden;
    text-align: center;
    color: white;
    /*margin-bottom: 2%;*/
    width: 100%;
    font-size: 30px;
    /*color: rgb(190, 208, 1);*/
    font-family: 'Oswald', sans-serif;
}

.empresas p {
    /*background-color: rgb(255, 255, 255, .9);*/
    /*border: 2px green solid;*/
    /*margin-left: 11%;*/
    margin-top: 2%;
    overflow: hidden;
    text-align: center;
    color: rgb(190, 208, 1);
    /*margin-bottom: 2%;*/
    width: 100%;
    font-size: 40px;
    /*color: rgb(190, 208, 1);*/
    font-family: 'Oswald', sans-serif;
}

.empresas {
    overflow: hidden;
    /*outline: 2px red solid;*/
}

.anadidoss {
    /*border: 1px white solid;*/
    background-color: rgb(22, 107, 162);
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-left: 2.5%;
    text-align: center;
}

.icodos {
    /*outline: 2px yellow solid;*/
    font-size: 40px;
    color: black;
    /*background-color: white;*/
    background-color: rgb(22, 145, 190);
}

.textoserdos {
    margin-top: 2%;
    overflow: hidden;
    text-align: center;
    color: black;
    /*margin-bottom: 2%;*/
    width: 100%;
    font-size: 30px;
    /*color: rgb(190, 208, 1);*/
    font-family: 'Oswald', sans-serif;
}


/*********************************Termina diseño de servicio**************************************/


/*------------------ir-arriba-------------*/

.ir-arriba {
    display: none;
    padding: 20px;
    /*background: #024959;*/
    background: rgb(190, 208, 1);
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

@media screen and (max-width: 1366px) and (min-width: 1024px) {
    #nav, #logo {
        display: inline-block;
        vertical-align: top;
    }
    header {
        /*border: 2px red solid;*/
        width: 78%;
    }
    #logo {
        width: 18%;
    }
    #nav {
        /*outline: 2px red solid;*/
        margin-top: 3%;
        margin-left: 0%;
    }
    .conq {
        margin-bottom: 4%;
    }
    .view {
        width: 300px;
        height: 200px;
        margin: 10px;
        float: left;
        border: 5px solid #fff;
        overflow: hidden;
        position: relative;
        text-align: center;
        box-shadow: 1px 1px 2px #e6e6e6;
        cursor: pointer;
        margin-left: 2%;
    }
}